    {{log pattern}}
    <div id='{{pattern.id}}'>
      <div class="row" id='row2'>
        {{#each pattern.squares}}
        <div class="col-xs-4 col-md-3 box" id="{{id}}sq"></div>
        {{/each}}
  </div>
