  <h2 id='{{pattern.title}}'>{{pattern.title}}</h2>
  <div id='{{pattern.id}}'>
    <div class="row" id='row1'>
      {{#each pattern.squares}}
      <div class="col-md-6 offset-md-3 box" id="{{id}}sq"></div>
      {{/each}}
</div>
</div>
