<ul class='pattern-list'>
  {{log 'handlebars patterns file'}}
  {{#each pattern as |pattern|}}
    <li class='pattern-name' id='{{pattern.id}}'>{{pattern.title}}
      <button type='submit' id='{{pattern.title}}' class='delete-button'>Delete</button>
    </li>
  {{/each}}
</ul>
      {{#if pattern.editable}}
      {{/if}}
