<h3>Your Patterns:</h3>
<ul class='pattern-list'>
  {{#each pattern as |pattern|}}
  {{#if pattern.editable}}
    <li id="{{pattern.id}}">
      <button class='pattern-name'>{{pattern.title}}</button>
      <button id='{{pattern.title}}' class='delete-button'>Delete</button>
    </li>
  {{/if}}
  {{/each}}
</ul>
