$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
// $grid-columns: 18 !default;

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-image: url('../../public/yarn.jpg');
  color: purple;
  font-weight: bold;
}

button,
h1 {
  background-color: purple;
  color: white;
}

button {
  padding: 5px;
}

h1 {
  margin-top: 0;
  padding: 20px;
}

h3 {
  font-weight: bold;
}

.box {
  border: solid grey 4px;
  height: 60px;
  width: 5.5%;
}

.info {
  font-size: 25px;
  margin: 5px;
}
